<!DOCTYPE html>
<html lang="en">

<body>
    <h1>test</h1>
    <% if(typeof(errors)!="undefined"){%>
    <%for(x in errors){%>
    <br><span>Errors:<%=errors[x]%></span>
    <%}}%>
    <a href="/login">login</a>
</body>

</html>