<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name=" "
        content=" ">
</head>

<body>
    <% errors.forEach(function(error){ %>
    <p><%= error.msg %></p>
    <% }) %>
</body>

</html>